<html>
    <head>
        <title>Dani's blog</title>
    </head>
    <body>
        <div>
            <h1><a href="/">Dani's blog</a></h1>
        </div>

        <div>
            <p>published: 19.01.2018, 12:55</p>
            <h2><a href="">My first post</a></h2>
            <p>Have some random latin words. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Translated, this says: Jasmine lion than football. Kids football television skirt and poisonous gas. Wow. That makes sense.</p>
        </div>

        <div>
            <p>published: 14.06.2014, 1:00</p>
            <h2><a href="">My second post</a></h2>
            <p>Random facts my friends. Pluto is the size of Australia. About 2430 left-handed people die each year from using machinery meant for right-handed people. Every has blue eyes, they're actually just hidden under other pigment.</p>
        </div>
    </body>
</html>
